<html class="has-navbar-fixed-top">
    {{ template "navbar.html" .}}
    <head>
        <script>
            document.addEventListener('DOMContentLoaded', function() {
            let cardToggles = document.getElementsByClassName('card-toggle');
            for (let i = 0; i < cardToggles.length; i++) {
              cardToggles[i].addEventListener('click', e => {
                e.currentTarget.parentElement.parentElement.childNodes[3].classList.toggle('is-hidden');
              });
            }
          });
          </script>
    </head>
    <div class="box">
        {{ range $key, $value := . }}
            <div class="card">
                <header class="card-header">
                    <a class="card-header-title card-toggle">{{ $key }}</a>
                </header>
                <div class="card-content is-hidden">
                {{ range $value }}
                    <div class="is-hoverable">
                        <a class="list-item" href="/players/{{ .Slug }}">{{ .Name }}</a>
                    </div>
                {{ end }}
                </div>
            </div>
        {{ end }}
    </div>
</html>