<html class="has-navbar-fixed-top">
    {{ template "navbar.html" .}}
    <div class="box">
        <h1 class="title">{{ .Name }}</h1>
        <p>
            <h2 class="subtitle">Facts</h2>
            <h6 class="subtitle is-6">Latest Update: {{ . | latestUpdate }}</h6>
    
            <table class="table">
                <tr>
                    <th>Club</th>
                    <td>{{ .Club }}</td>
                </tr>
                <tr>
                    <th>Position</th>
                    <td>{{ .Position }}</td>
                </tr>
                <tr>
                    <th>Total Points</th>
                    <td>{{ .TotalPoints }}</td>
                </tr>
                <tr>
                    <th>Trend</th>
                    <td>{{ . | trend }}</td>
                </tr>
                <tr>
                    <th>Price / Points</th>
                    <td>{{ . | pricePerPoints | moneyStrFl }}€</td>
                </tr>
            </table>
        </p>
    
        <h2 class="subtitle">Performance</h2>
    
        <table class="table is-striped is-narrow"> 
            <tr>
                <th>Date</th>
                <th>Value</th>
                <th>Raise</th>
                <th>Perc</th>
            </tr>
            {{ range .ValueEntries }}
                    <tr>
                        <td>{{ .Day | dateStr }}</td>
                        <td>{{ .Value | moneyStr }}€</td>
                        <td>{{ .RaiseDiff | moneyStr }}€</td>
                        <td>{{ .RaisePerc }}%</td>
                    </tr>
            {{ end }}
        </table>

        <a href="/teams/add/t1?p={{ .Slug }}">
            <img src="/assets/add-button.png" width="40px" height="40px"/>
        </a>
        <a href="/teams/delete/t1?p={{ .Slug }}">
            <img src="/assets/minus-button.png" width="36px" height="36px"/>
        </a>
    </div>    
</html>