<html class="has-navbar-fixed-top">
    {{ template "navbar.html" .}}
    <div class="box">
        <h1 class="title">Best Price/Value</h1>
        <table class="table is-striped is-narrow">
            <tr>
                <th></th>
                <th>Name</th>
                <th>Price</th>
                <th>Price / Point</th>
                <th>Total Points</th>
                <th>Point Rank</th>
                <th>Coeff</th>
            </tr>
            {{ range $i, $p := .PlayerCoeffs }}
            <tr>
                <td>{{$i | addOne }}</td>
                <td>
                    <a href="../../players/{{ .PlayerSlug }}">{{ $p.PlayerName }}</a>
                </td>
                <td>{{ $p.Price | moneyStr }}€</td>
                <td>{{ $p.PricePerPoints | moneyStrFl }}€</td>
                <td>{{ $p.TotalPoints }}</td>
                <td>{{ $p.PointRank }}</td>
                <td>{{ $p.Coeff }}</td>
            </tr>
            {{ end }}
        </table>
    </div>
</html>